body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --primary-color: #0e193f;
  --secondary-color: #ff18bd;
  --third-color: white;
}

::-webkit-scrollbar {
  width: 5px;
  /* background-color: white; */
  background-color: none !important;
}

::-webkit-scrollbar-thumb {
  background-color: #00000063;
  border-radius: 10px;
}