.navbar{
    width: 100%;
    backdrop-filter: blur(10px);
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: white;
}
.navbar-container{
    height: 60px;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo{
    width: 120px;
    height: 50px;
    background-color: transparent !important;
}
.navbar-tem{
    display: flex;
    align-items: center;
}
.navbar-item{
    padding: 10px 20px;
    margin-inline: 10px;
    text-decoration: none;
    color: green;
    font-weight: 700;
    border-radius: 5px;
}




.navbar-item-image{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
.navbar-item:hover{
}
.navbar-login-button{
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}
.navbar-menu{
    display: none;
}


/* RES */
@media only screen and (max-width: 800px) {
    
    .navbar-menu{
        display: flex;
        font-size: 40px;
        cursor: pointer;
    }
    .navbar-menu-open{
        animation: rotate 0.3s ease-in-out forwards;
    }
    .navbar-menu-close{
        animation: rotate 0.3s ease-in-out forwards;
    }
    
    
    @keyframes rotate {
        from {
            transform: rotate(180deg);
        }
        to {
            transform: rotate(0);
        }
      }
    
    .navbar-tem{
        display: none;
    }
    .navbar-res-item-card{
        z-index: 100;
        position: fixed;
        width: 50vw;
        padding-inline: 10vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: white;
    }
    .navbar-res-item{
        text-decoration: none;
        color: black;
        padding-block: 15px;
        text-align: center;
    }
}
