.review{
    width: 100%;
}
.review-container{
    padding: 20px 5vw;
    place-items: center;
}
.slick-prev,
.slick-next{
    background-color: green !important;
    border-radius: 50%;

}
.review-card{
    width: 80% !important;
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px green;
    border: 3px solid green;
}
.review-card img{
    width: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.review-card div{
    margin-block: 15px;
}
.review-card p{}